@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Apprentice Management System</h1>
    <p>This system is designed to help companies in the hiring of their trainees.</p>
</div>
